<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta Food Finder - Login</title>
    
    {% load static %}
    <!-- Linking External CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- Import Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <h1>Atlanta Food Finder</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
                <p>Don't have an account? <a href="{% url 'register' %}">Sign Up here</a></p>
            </form>
        </div>
    </div>

    <script>
        // Check if the user is authenticated and log it to the console
        const isLoggedIn = "{{ request.user.is_authenticated|yesno:'true,false' }}";
        console.log("Is user logged in?", isLoggedIn);
    </script>
</body>
</html>

